/* GLOBAL */
body{
    margin: 0;
    padding: 0;
    background-color: #2F3848;
    font-family: sans-serif;
    padding-bottom: 1rem;
}

.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

main a{
    color: #ABBA3B;
}

/* HEADER */

/* TITLE */

.principal-title{
    font-size: 4rem;
    font-style: italic;
    color: white;
    background-color: #F05768;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 700;
    letter-spacing: 0px;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}

/* NAV */

nav, .contact, .social{
    display: flex;
    list-style: none;
}

nav{
    justify-content: space-between;
}

.contact{
    padding-left: 0;
    color: #ABBA3B;
    font-weight: 800;
    font-size: 1.5rem;
}

nav li{
    margin-right: 10px;
}

.social img{
    height: 30px;
}

/* MAIN */

/* PARAGRAPHES */

main h2{
    color: #00ccff;
    font-size: 2rem;
    margin: 0;
    font-weight: 950;
}

.main-description{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

/* IMAGES */

/* BIG IMAGE */

.week-container{
    width: 100%;
    position:relative;
}

.week-container img{
    width: 100%;
}

.week-container h3{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 950;
    font-size: 1.5rem;
    background-color: #F05768;
    margin: 0;
    padding: 0.7rem;
}

/* IMAGES ET CADRE */

.galery-cadre{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem ;
}

/* GALERY*/

.galery{
    width: 75%;
}

.big{
    width: 365px;
    float: left;
    margin-right: 15px;
}

.small{
    width: 176px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/*CADRE */

.cadre{
    width: 25%;
    height: fit-content;
    background-color: #004488;
    padding: 1.5rem;
}

.cadre-title{
    color: #00ccff;
    margin-top: 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid #00ccff;
    font-size: 1.5rem;
}

.cadre p{
    color: #ABBA3B;
    font-weight: 700;
}

.souscrivez{
    margin: 0;
}

/*FOOTER */

footer{
    margin-top: 5rem;
    color: #00ccff;
    width: 100%;
}

footer p{
    text-align: center;
}

footer .copyright{
    padding-right: 4px;
    border-right: 1px solid #00ccff ;
}